html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  background: #a3d0dc url('../assets/holiday_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #3b8499;
  font: 14px normal 'Futura W02', Arial, sans-serif;
  line-height: 1.5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: -3em auto 0;
  text-align: center;
}

h1, h2 {
  font-family: 'Futura W02', Arial, sans-serif;
}

h1 {
  flex: 1;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1em auto 0;
  width: 60%
}

h2 {
  flex: 1;
  font-weight: 300;
  font-size: 14px;
  margin: 0.75em auto 2em;
  width: 65%;
}

video {
  background-color: #e7e8e9;
  flex: 7;
  width: 100%;
}

/* =======================
Media Queries
======================= */

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2rem;
    margin: 1em auto 0;
  }
  h2 {
    font-size: 1rem;
    margin: 0.5em auto 2em;
    width: 40%;
  }
  video {
    width: 90%;
  }
}
