body {
  background: url('../assets/holiday_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #3b8499;
  font: 16px normal 'Futura W02', Arial, sans-serif;
  line-height: 1.5;
}

main {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  font-family: 'Futura W02', Arial, sans-serif;
}

h1 {
  font-weight: 700;
  margin: 1em 0 0;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
  margin: 0.5em auto 2em;
  width: 50%;
}

video {
  background-color: #e7e8e9;
  width: 90%;
}

/* =======================
Media Queries
======================= */

@media screen and (min-width: 1500px) {
  video {
    width: 100%;
  }
}
